<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin
      name="%pluginName"
      id="id.ac.itb.ee.lskk.relexid.core"
      version="1.0.0"
      provider-name="%providerName">

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.emf.ecore" export="true"/>
   </requires>

   <runtime>
      <library name=".">
         <export name="*"/>
      </library>
   </runtime>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated relexid -->
      <package
            uri="http://relexid/1.0"
            class="id.ac.itb.ee.lskk.relexid.core.RelexidPackage"
            genModel="src/main/resources/id/ac/itb/ee/lskk/relexid/core/relexid.genmodel"/>
   </extension>

</plugin>
